<!DOCTYPE html>
<html lang="en">
<head>
  <title>GNUKhata</title>
  <style type="text/css">

  .selected
  {
    background-color: Aquamarine;
  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  td {
    font-size: 65%;
    color: black;
  }

  th {
    font-size: 70%;
  }

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}
  /*
  Force table width to 100%
  */
  table.table-fixedheader {
    width: 100%;
  }
  /*
  Set table elements to block mode.	(Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
    display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after	{
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).	We must specify an explicit height for the tbody.	We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 68vh;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  table.table-fixedheader>thead, table.table-fixedheader>tfoot {
    overflow-y: scroll;
    height: 26px;
    width: 98.5%;
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.	(Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).	We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

  table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
    float: left;

  }

  </style>
</head>
<body>
  {% if orgtype=="Profit Making" %}
  <span style="margin:auto; display:table;"><strong>Conventional Balance Sheet </strong>as on <strong>{{to[8:10]+to[4:8]+to[0:4]}}</strong></span>
  {% else %}
  <span style="margin:auto; display:table;"><strong>Conventional Statement of Affairs </strong>as on <strong>{{to[8:10]+to[4:8]+to[0:4]}}</strong></span>
  {% endif %}
  <div class="row">
    <div class="table-responsive col-xs-6 nopadding" >
      <table id="liabtable" class="shadow table table-condensed table-fixedheader cbalsheettable">
        <thead>
          <tr class="info ">
            {% if orgtype=="Profit Making" %}
            <th class="col-xs-5">Capital and Liabilities</th>
            {% else %}
            <th class="col-xs-5">Corpus and Liabilities</th>
            {% endif %}
            <th class="col-xs-5">&nbsp</th>
            <th style="text-align:right" class="col-xs-1">&nbsp</th>
            <th style="text-align:right" class="col-xs-1">Amount</th>
          </tr>
        </thead>
        <tbody>

          {% for record in records["leftlist"] %}
          <tr	value="v{{record["groupcode"]}}">
            <td class="col-xs-2"><b>
              {% if record["groupname"]=="Total" or record["groupname"]=="Sources:" or record["groupname"]=="Difference" or record["groupname"]=="Applications:" %}
              <a class="libgname" href="#" style="text-decoration: none; color:black;">{{record["groupname"]}}</a>
              {% elif record["groupname"]=="" %}
              <a class="libgname" href="#">&nbsp</a>
              {% elif record["groupname"]=="Loss for the Year:" or record["groupname"]=="Deficit for the Year:" or record["groupname"]=="Profit for the Year:" or record["groupname"]=="Surplus for the Year:" %}
              <a class="libgname" href="#">&nbsp</a>
              {% else %}
              <a class="libgname" href="#">{{record["groupname"]}}</a>
              {% endif %}</b>
            </td>
            <td class="col-xs-6"><b>
            {%if record["groupname"]=="Loss for the Year:" or record["groupname"]=="Deficit for the Year:" or record["groupname"]=="Profit for the Year:" or record["groupname"]=="Surplus for the Year:" %}
            <a clss="libgname" href="#">{{record["groupname"]}}</a>
            {%else%}&nbsp
          {%endif%}</b></td>

          {%if record["groupname"]=="Loss for the Year:" or record["groupname"]=="Deficit for the Year:" or record["groupname"]=="Profit for the Year:" or record["groupname"]=="Surplus for the Year:" %}
          <td class="col-xs-2" style="text-align:right"><b>{{record["amount"]}}</b></td>
          <td class="col-xs-2" style="text-align:right">&nbsp</td>
          {%else%}
            <td class="col-xs-2">&nbsp</td>
            {% if record["amount"]=="." %}
            <td class="col-xs-2" style="text-align:right">&nbsp</td>
            {% else %}
            <td class="col-xs-2" style="text-align:right"><b>
              {{record["amount"]}}</b>
            </td>
            {% endif %}
            {%endif%}
          </tr>
          {%for account in record["accounts"]%}
          <tr	value="{{account["accountcode"]}}" class="v{{record["groupcode"]}}" style="display: none;" >
              <td class="col-xs-2"><a class="libgname" href="#">&nbsp</a></td>
            <td class="col-xs-6">
              <a class="libgname" href="">{{account["accountname"]}}</a>
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{account["amount"]}}
            </td>
            <td class="col-xs-2" style="text-align:right">&nbsp</td>
          </tr>
          {%endfor%}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="table-responsive col-xs-6 nopadding" >
      <table id="patable" class="shadow table table-condensed table-fixedheader cbalsheettable">
        <thead>
          <tr class="info ">
            <th class="col-xs-9">Property and Assets</th>
            <th style="text-align:right" class="col-xs-3">Amount</th>
          </tr>
        </thead>
        <tbody>

          {% for record in records["rightlist"] %}
          <tr	value="v{{record["groupcode"]}}">
            <td class="col-xs-3"><b>
              {% if record["groupname"]=="Total" or record["groupname"]=="Difference" or record["groupname"]=="Applications:" %}
              <a class="pagname" href="#" style="text-decoration: none; color:black;">{{record["groupname"]}}</a>
              {% elif record["groupname"]=="" %}
              <a class="pagname" href="#">&nbsp</a>
              {% elif record["groupname"]=="Loss for the Year:" or record["groupname"]=="Deficit for the Year:" or record["groupname"]=="Profit for the Year:" or record["groupname"]=="Surplus for the Year:" %}
              <a class="pagname" href="#">&nbsp</a>
              {% else %}
              <a class="pagname" href="#">{{record["groupname"]}}</a>
              {% endif %}</b>
            </td>
            <td class="col-xs-6"><b>
            {%if record["groupname"]=="Loss for the Year:" or record["groupname"]=="Deficit for the Year:" or record["groupname"]=="Profit for the Year:" or record["groupname"]=="Surplus for the Year:" %}
            <a class="pagname"href="#">{{record["groupname"]}}</a>{%else%}&nbsp
          {%endif%}</b></td>
            <td class="col-xs-1">&nbsp</td>
            {% if record["amount"]=="." %}
            <td class="col-xs-2" style="text-align:right">&nbsp</td>
            {% else %}
            <td class="col-xs-2" style="text-align:right">
              <b>{{record["amount"]}}</b>
            </td>
            {% endif %}
          </tr>
          {%for account in record["accounts"]%}
          <tr	value="{{account["accountcode"]}}" class="v{{record["groupcode"]}}" style="display: none;">
            <td class="col-xs-3"><a class="pagname" href="#">&nbsp</a></td>
            <td class="col-xs-6">
              <a class="pagname" href="">{{account["accountname"]}}</a>
            </td>
            <td class="col-xs-1" style="text-align:right">
              {{account["amount"]}}
            </td>
            <td class="col-xs-2" style="text-align:right">&nbsp</td>
          </tr>
          {%endfor%}
          {% endfor %}
        </tbody>
      </table>
      <input type="hidden" name="balancesheettype" id="balancesheettype" value="{{balancesheettype}}">
      <input type="hidden" name="cto" id="cto" value="{{to}}">

    </div>

  </div>
  <span style="margin:auto; display:table;">
    <button type="button" class="btn btn-sm btn-danger" id="balback" accesskey="b"><u>B</u>ack</button>
    <button type="button" class="btn btn-sm btn-primary" id="sabutn" accesskey="s"><u>S</u>ources & Application of Funds</button>
     <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="t">Prin<u>t</u></button>
  </span>
  <input type="hidden" id="ledtodate" value="{{to}}">
  <input type="hidden" id="ledfromdate" value="{{from}}">
  <input type="hidden" id="backflag" value="{{backflag}}">
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/conventionalbalancesheetreport.js')}}"></script>
</body>
</html>
