<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      label.error{
        margin-left: 10px;
        width: auto;
        display: inline;
      }
    </style>
    <meta charset="utf-8">
    <title>GNUKhata</title>
  </head>
  <body>
    <div class="container">
      <div id="forgotpasswordpanel" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <!--alert bars-->
          <div class="alert alert-danger" id="username-blank-alert" hidden>
            <a href="#" class="close" aria-label="close">&times;</a>
            Please enter a <strong>Username!</strong>
          </div>
          <div class="alert alert-danger" id="securityquestion-blank-alert" hidden>
            <a href="#" class="close" aria-label="close">&times;</a>
            A valid <strong>Security Question</strong> required!
          </div>
          <div class="alert alert-danger" id="securityanswer-blank-alert" hidden>
            <a href="#" class="close" aria-label="close">&times;</a>
            A valid <strong>Security Answer</strong> required!
          </div>
          <div class="alert alert-danger" id="newpassword-blank-alert" hidden>
            <a href="#" class="close" aria-label="close">&times;</a>
            New Password can't be blank!
          </div>
          <div class="alert alert-danger" id="passwords-dont-match-alert" hidden>
            <a href="#" class="close" aria-label="close">&times;</a>
            <strong>Passwords don't match</strong> or the field is <strong>left empty</strong>! Be Careful.
          </div>
          <!--panel stars-->
          <div class="panel-heading">
            <div class="panel-title"><strong>Forgot Password?</strong></div>
          </div>

          <div style="padding-top:30px" class="panel-body" >
          <form id="loginform" action="userlogin" class="form-horizontal">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="username" required>Us<u>e</u>rname :</label>
              <input id="username" type="text" class="form-control col-xs-12" name="username" value="" accesskey="e" required=""></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="securityquestion">Security <u>Q</u>uestion :</label>
              <input id="securityquestion" type="text" class="form-control col-xs-12" name="securityquestion" value="" accesskey="q" required=""></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="securityanswer">Security <u>A</u>nswer :</label>
              <input id="securityanswer" type="text" class="form-control col-xs-12" name="securityanswer" value="" accesskey="a" required=""></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="newpassword">Enter New Pass<u>w</u>ord :</label>
              <input id="newpassword" type="password" class="form-control col-xs-12" name="newpassword" accesskey="w" required=""></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="confirmpassword">C<u>o</u>nfirm New assword :</label>
              <input id="confirmpassword" type="password" class="form-control col-xs-12" name="confirmpassword" accesskey="o" required=""></input>
            </div>

            <input id="orgcode" type="hidden" name="orgcode" value="{{orgcode}}" class="form-control" ></input>


            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="btnsubmit" type="submit" class="btn btn-success"  accesskey="s"><span class="glyphicon glyphicon-correct"></span><u>S</u>ave</button>
                <button id="back" type="button" class="btn btn-danger"accesskey="b"><span class="glyphicon glyphicon-remove"></span><u>B</u>ack</button>
              </div>
            </div>
          </form>
        </div>

        </div>
      </div>

    </div>
    <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
    <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
    <script src="{{request.static_url('gkwebapp:static/js/forgotpassword.js')}}"></script>
  </body>
</html>
