
<!DOCTYPE HTML >
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />


  <style>
  .content{ margin-top:4%
  }
  </style>



</head>
<body>

  <div class="nav navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""><img src="{{request.static_url('gkwebapp:static/images/icon.svg')}}" alt="GNUKhata Icon" style="width:42px;height:42px;margin-top: -11px" /></a>
        <a class="navbar-brand" >GNUKhata</a>

      </div>

      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a data-toggle="tab" id="selectnav" href="#selectorg"> <span class="sr-only">Select Existing Organisation</span>Select <u>E</u>xisting Organisation</a></li>
          <li><a data-toggle="tab" id="createnav" href="#createorg">C<u>r</u>eate Organisation</a></li>

        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="col-md-6 pull-left container-fluid" style="margin-top:50px;">
    <div style="padding: 5px 5px 5px 5px; color: #115a84; background-color: #b8e0ef; margin-right: 15px;">
     <h3 style="margin-top:2px;">Welcome To GNUKhata </h3>
     <h4>A Free and Open Source Accounting Software</h4>
   </div>
   <div style="padding: 2px 2px 2px 2px; color: #115a84; background-color: #b8e0ef; margin-right: 15px; margin-top: 10px;">
     <h4>Features</h4>
   </div>
   <div style="padding: 5px 5px 5px 5px; color: #4c6272; background-color: #e3f5fc; margin-right: 15px; margin-top: 0px;">
     <p style="margin-top: 5px;">Is Lightweight</p>
     <p> Can scale upto a cloud based deployment or down to a standalone installation</p>
     <p> Fast and Robust</p>
     <p> Based on double entry system of accounting.</p>
   </div>
   <div style="padding: 5px 5px 5px 5px; color: #115a84; background-color: #b8e0ef; margin-right: 15px; margin-top: 10px;">
    <p>GNUKhata is developed by <b>Digital Freedom Foundation(DFF)</b> and is currently funded by <b>International Centre for Free and Open Source Software(ICFOSS).</b></p>
   </div>
   <div style="padding: 5px 5px 5px 5px; color: #115a84; background-color: #b8e0ef; margin-right: 15px; margin-top:10px;">
     <p style="text-align: right; font-size: 0.9em;">Copyright © Digital Freedom Foundation 2013,2014,2015,2016. Visit <a href="http://gnukhata.in">gnukhata.in</a> for more information.</p>
     <p style="text-align: right; font-size: 0.9em; margin-top: -10px; margin-bottom: 0px">This software is licensed under GNU AGPLv3. You may use a newer version of the same license.</p>
   </div>
  </div>
  <div class="tab-content">
    <div id="selectorg" class="tab-pane fade in active">


    </div>
    <div id="createorg" class="tab-pane fade">

    </div>

  </div>


  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/index.js')}}"></script>


</body>
</html>
