<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />

  <title>
    GNUKhata
  </title>

  <style>
  .login-box{
    background-color: rgba(220, 225,225,0.4);
  }

  </style>

</head>
<body>


  <div class="container-fluid">
    <div id="loginbox" style="margin-top:60px;" class="mainbox col-md-6 pull-right">
      <div class="alert alert-danger" id="username-blank-alert" hidden>
        <a href="#" class="close" aria-label="close">&times;</a>
        Please enter username!
      </div>
      <div class="alert alert-danger" id="password-blank-alert" hidden>
        <a href="#" class="close" aria-label="close">&times;</a>
        Please enter password!
      </div>
      <div class="alert alert-danger" id="login-blank-alert" hidden>
        <a href="#" class="close" aria-label="close">&times;</a>
        Username or Password is incorrect!
      </div>
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Sign In</div>
          
        </div>
        <div style="padding-top:30px" class="panel-body" >
          <form id="loginform" action="userlogin" class="form-horizontal">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="username"><u>U</u>sername :</label>
              <input id="username" type="text" class="form-control col-xs-12" name="username" value="" accesskey="u"></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="userpassword"><u>P</u>assword :</label>
              <input id="userpassword" type="password" class="form-control col-xs-12" name="userpassword" accesskey="p"></input>
            </div>

            <input id="orgcode"  name="orgcode" value="{{code}}" class="form-control" style="display: none;"></input>
            <input id="flag"  name="flag" value="{{flag}}" class="form-control" style="display:none;"></input>
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="login" type="submit" class="btn btn-success " accesskey="l"><span class="glyphicon glyphicon-arrow-right"></span><u>L</u>ogin</button>
                <button id="changeorg" class="btn btn-warning">Change Organisation</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/login.js')}}"></script>
</body>

</html>
