<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GNUKhata | Dual Ledger</title>
  <style media="screen">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  label {
		font-size: 90%;
	}
  </style>
</head>
<body>
  <div id="m_dualledger" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
    <div class="panel panel-info shadow">
      <div class="panel-heading">
        <h3 class="panel-title">View Dual Ledger</h3>
      </div>
      <div class="panel-body" style="padding-top:5px">
        <div class="alert alert-danger" id="date-alert" hidden>
          <a href="#" class="close" aria-label="close">&times;</a>
          <label for="viewdualledger_fromdate">Please enter date in proper format!</label>
        </div>
        <div class="alert alert-danger" id="between-date-alert" hidden>
          <a href="#" class="close" aria-label="close">&times;</a>
          <label for="viewdualledger_fromdate">Please enter date within the financial year!</label>
        </div>
        <div class="alert alert-danger" id="compare-date-alert" hidden>
          <a href="#" class="close" aria-label="close">&times;</a>
          <label for="viewdualledger_todate">From date should be smaller or equal to to date !</label>
        </div>
        <div class="alert alert-danger" id="account-blank-alert" hidden>
          <a href="#" class="close" aria-label="close">&times;</a>
          <label for="viewdualledger_accname">Please select an account!</label>
        </div>
        <div style="margin-bottom: 5px" class="col-xs-12 from-group">
          <label for="viewdualledger_accname">Account Name :</label>
          <select class = "form-control input-sm" id="viewdualledger_accname"  name = "viewdualledger_accname" >
            <option value="" disabled selected hidden>Select Account</option>
            {% for accs in gkresult %}
            <option value="{{accs['accountcode']}}">{{accs["accountname"]}}</option>
            {% endfor %}
          </select>
          <br>


          <label for="viewdualledger_fromdate">From Date:</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewdualledger_date form-control input-sm dis" id="viewdualledger_fromdate" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
              <input type="text" id="viewdualledger_frommonth" class="viewdualledger_date dis form-control input-sm" value="" size="2" maxlength="2" placeholder="MM" >
              <input type="text" id="viewdualledger_fromyear" class="viewdualledger_date dis form-control input-sm" value="" size="4" maxlength="4" placeholder="YYYY" >
            </div>

          </div>
          <br>
          <label for="viewdualledger_todate">To Date:</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewdualledger_date form-control input-sm dis" id="viewdualledger_todate" value="" size="2" maxlength="2" placeholder="DD" >
              <input type="text" id="viewdualledger_tomonth" class="viewdualledger_date form-control input-sm dis" value="" size="2" maxlength="2" placeholder="MM" >
              <input type="text" id="viewdualledger_toyear" class="viewdualledger_date form-control input-sm dis" value="" size="4" maxlength="4" placeholder="YYYY" >
            </div>
          </div>
          <br>
          <label> <input type="checkbox" class="dis" id="viewdualledger_nar" >Narration</label>
          <br>
          <label for="viewdualledger_prjname">Project Name :</label>
          <select class = "form-control input-sm dis" id="viewdualledger_prjname"  name = "viewdualledger_prjname">
            <option value="" selected>None</option>
            {% for prj in projects %}
            <option value="{{prj['projectcode']}}">{{prj["projectname"]}}</option>
            {% endfor %}
          </select>

        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="viewdualledger_submit" name="view" accesskey="w">Vie<u>w</u></button>
        <button id="viewdualledger_reset" class="btn btn-danger btn-sm" accesskey="e">R<u>e</u>set</button>

      </div>
    </div>
  </div>
</div>
</div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewdualledger.js')}}"></script>
</body>
</html>
