	body {
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 'Lato', sans-serif;
		font-size: 12pt;
		font-weight: normal;
		color: #d5e2ff;
	}

	h1, h2, h3 {
		margin: 20px;
		padding: 10px;
		text-align:center;
		font-weight: 300;
	}

	p {
		margin-bottom: 1.5em;
		line-height: 180%;
	}
	
	p.organisation {
		margin-top: 1.5;
		margin-bottom: 1.5;
		line-height: 200%;
		float: left;
		font-size: 16pt;
	}
	p.financial_year {
		margin-top: 1.5;
		margin-bottom: 1.5;
		line-height: 200%;
		float: right;
		font-size: 16pt;
	}

	a {
		color: #D1551F;
	}

	strong {
		font-weight: 700;
		color: #2A2A2A;
	}

	div {margin-bottom: 10px;}
		
	.asteriskField {
    		display: none;
	}
	label {
		font-weight : normal;
		font-size : 12pt	
	}